.container-apresentacao{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  background-color: #0012A2;
}

.container-conteudo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  transition-property: grid-template-columns gap;
  transition-duration: 0.5s;
}

.coluna-separador {
  background-color: #0012A2;
  height: 180px;
  width: 8px;
  border-radius: 3px;
  margin-top: 160px;
}

.talento {
  display: flex;
  background-image: url(../../assets/capa.png);
  background-size:  cover 150px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.informacoes-talento {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  margin-top: 65px;
  align-items: center;
  width: 35%;
}

.informacoes-talento .name-profile {
  font-size: 25px;
  margin-bottom: 5px;
  color: #0012A2;
}

.informacoes-talento .descricao-profile {
  font-size: 17px;
  margin-bottom: 8px;
  color: #464646;
}

.informacoes-talento .classificacao {
  display: flex;
  margin-bottom: 20px;
}

.informacoes-talento div .classificacao-profile {
  font-size: 17px;
  margin-bottom: 10px;
  color: #464646;
  margin-right: 3px;
}

.informacoes-talento div .classificacao-nivel {
  font-size: 20px;
  margin-bottom: 10px;
  color: #0012A2;
  margin-left: 3px;
  font-weight: 600;
}

.informacoes-talento .profile-talento {
  overflow: hidden;
  width: 160px;
  height: 160px;
  border: solid 5px #fff;
  box-shadow: 0px 1px 10px #00000052;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-talento .imagem-profile {
  width: 100%;
}

.informacoes-talento-2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0px 20px;
  margin-top: 165px;
}

.informacoes-talento-2 h4 {
  color: #0012A2;
  font-size: 16px;
}

.informacoes-talento-2 h4 span {
  color:#464646;
}

.informacoes-talento-2 .sobre-talento p {
  color: #464646;
  font-size: 16px;
  margin: 5px 0px 20px 0px;
}

.conhecer-talento {
  display: flex;
  justify-content: space-between;
}

.conhecer-talento .habilidades {
  height: 95px;
  width: 200px;
}

.conhecer-talento .habilidades .skill-name {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 8px;
}

.conhecer-talento .habilidades .skill-name span {
  font-size: 16px;
  color: #fff;
  background-color: #0012A2;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 8px;
}

.historico {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historico .button-conhecer {
  margin-top: 20px;
  width: 90%;
  height: 50px;
  border-radius: 8px;
  background-color: #0012A2;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 1px 10px #00000060;
  transition: filter 0.5s;
}

.historico .button-conhecer:hover {
  filter: brightness(80%);
}

.conhecer-talento .historico {
  height: 95px;
  width: 200px;
}

.container-talentos .talento, .container-menu-coluna .menu {
  display: flex;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
}

.container-menu-coluna-toggle {
  display: none;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  flex-direction: column;
  margin: 20px;
  transition-property: margin-left margin-right;
  transition-duration: 0.5s;
}

.container-menu-coluna-toggle .filtros {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.filtros, .selection-categoria,
.selection-habilidade, .selection-preco {
  transition-property: height;
  transition-duration: 0.4s;
}

.container-menu-coluna-toggle .button-filtro {
  display: flex;
  border: 0px;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #0012A2;
  color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
}

.container-menu-coluna-toggle .button-filtro p {
  margin-right: 10px;
}

.filtros .atividade h5, .filtros .habilidade-desejada h5,
.filtros .preco-hora h5 {
  margin: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  font-weight: 400;
  border-bottom: 1px solid #464646;
  color: #464646;
}

.filtros .atividade .selection-categoria,
.filtros .habilidade-desejada .selection-habilidade {
  display: flex;
  justify-content: center;
}

.filtros .atividade .selection-categoria .categoria,
.filtros .habilidade-desejada .selection-habilidade .habilidades {
  height: 40px;
  width: 94%;
  background-color: #fff;
  color: #464646;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
}

.filtros .habilidade-desejada .selection-habilidade .habilidades {
  height: auto;
}

.filtros .selection-categoria, .filtros .selection-habilidade, .filtros .selection-preco {
  overflow: hidden;
  margin-bottom: 10px;
}

.filtros .preco-hora .selection-preco {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filtros .preco-hora .selection-preco .escolher-preco {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
}

.filtros .preco-hora .selection-preco .escolher-preco .preco-inicio {
  display: flex;
  width: 45%;
}

.filtros .preco-hora .selection-preco .escolher-preco .preco-fim {
  display: flex;
  width: 45%;
}

.filtros .preco-hora .selection-preco .escolher-preco .preco-inicio .preco,
.filtros .preco-hora .selection-preco .escolher-preco .preco-fim .preco {
  font-size: 17px;
  border: 0;
  border-top: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 60%;
  text-align: center;
  justify-content: center;
  height: 40px;
}

.filtros .preco-hora .selection-preco .escolher-preco span {
  display: flex;
  font-size: 17px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 40%;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.container-menu-coluna .menu {
  flex-direction: column;
}

.container-menu-coluna .menu h4 {
  color: #0012A2;
  font-size: 17px;
  margin: 0px 25px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.container-menu-coluna .menu .categoria {
  margin: 0px 20px;
  height: 50px;
  font-size: 17px;
  background-color: #0012A2;
  color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
}

.container-menu-coluna .menu .habilidades {
  margin: 0px 20px;
  font-size: 17px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
}

.container-menu-coluna .menu .escolher-preco {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  margin-bottom: 25px;
}

.container-menu-coluna .menu .escolher-preco .preco-inicio {
  display: flex;
  width: 45%;
}

.container-menu-coluna .menu .escolher-preco .preco-fim {
  display: flex;
  width: 45%;
}

.container-menu-coluna .menu .escolher-preco .preco {
  font-size: 17px;
  border: 0;
  border-top: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 60%;
  text-align: center;
  justify-content: center;
}

.container-menu-coluna .menu .escolher-preco span {
  display: flex;
  font-size: 17px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  text-align: center;
  justify-content: center;
  padding-top: 15px;
}

.container-menu-coluna {
  margin-left: 120px;
  transition-property: margin-left;
  transition-duration: 0.5s;
}

.container-talentos {
  margin-right: 120px;
  transition-property: margin-right margin-left;
  transition-duration: 0.5s;
}

.container-apresentacao h1, .container-apresentacao p {
  margin-left: 120px;
  color: #fff;
  transition-property: margin-left;
  transition-duration: 0.5s;
}

.container-apresentacao h1 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.container-apresentacao p {
  margin-bottom: 40px;
  margin-right: 10px;
}

.container-pesquisar {
  display: flex;
  align-items: center;
  margin: 0px 120px;
  transition-property: margin;
  transition-duration: 0.5s;
}

.container-pesquisar .title-bar {
  margin: 40px 0px 40px 0px;
  height: 50px;
  width: 200px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #c7c7c7;
  background-color: #0012A2;
}

.container-pesquisar .title-bar h4 {
  font-size: 23px;
  margin-top: 12px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.container-pesquisar .bar-search {
  border: 0;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  color: #464646;
}

.container-pesquisar .search {
  border: 0px;
  border-top: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  height: 50px;
  padding-right: 10px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
}

@media (max-width: 1227px) { 

  .container-pesquisar {
    margin: 0px 40px;
  }

  .container-menu-coluna {
    margin-left: 40px;
  }
  
  .container-talentos {
    margin-right: 40px;
  }

}

@media (max-width: 1172px) {
  .container-apresentacao h1, .container-apresentacao p {
    margin-left: 50px;
  }
}

@media (max-width: 1104px) {
  .container-apresentacao h1, .container-apresentacao p {
    margin-left: 20px;
  }

  .container-pesquisar {
    margin: 0px 10px;
  }

  .container-menu-coluna {
    margin-left: 10px;
  }
  
  .container-talentos {
    margin-right: 10px;
  }
}

@media (max-width: 1012px) {

  .container-pesquisar {
    margin: 0px 80px;
  }

  .container-menu-coluna {
    display: none;
  }

  .container-menu-coluna-toggle {
    display: flex;
    margin-right: 80px;
    margin-left: 80px;
  }
  
  .container-talentos {
    margin-right: 80px;
    margin-left: 80px;
  }

  .container-conteudo {
    gap: 0px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 897px) {

  .container-pesquisar {
    margin: 0px 20px;
  }

  .container-menu-coluna-toggle {
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .container-talentos {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 897px) {

  .talento {
    flex-direction: column;
    align-items: center;
  }

  .talento .coluna-separador {
    margin: 0px 10px;
    height: 6px;
    width: 250px;
  }

  .informacoes-talento-2 {
    margin: 20px;
  }

  .informacoes-talento .classificacao {
    margin-bottom: 10px;
  }
}

@media (max-width: 612px) {

  .informacoes-talento {
    width: 100%;
  }

  .informacoes-talento-2 .conhecer-talento {
    flex-direction: column;
  }

  .informacoes-talento-2 .sobre-talento {
    width: 100%;
    text-align: center;
  }

  .informacoes-talento-2 .sobre-talento p {
    text-align: left;
  }

  .informacoes-talento-2 .conhecer-talento .habilidades {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .informacoes-talento-2 .conhecer-talento .habilidades .skill-name {
    justify-content: center;
  }

  .informacoes-talento-2 .conhecer-talento .historico {
    width: 100%;
  }

  .informacoes-talento-2 .conhecer-talento .historico .button-conhecer {
    width: 100%;
  }
}

