@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

.container-menu {
  display: flex;
  width: 100%;
  height:70px;
  background-color: #00BFBF;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.container-menu strong {
  font-size: 25px;
  font-family: 'Carter One', cursive;
  color: #0012A2;
  font-weight: 400;
  padding: 0px 20px 0px 120px;
}

.container-menu strong span {
  color: #fff;
}

.menu-navegacao ul, .login-menu ul{
  list-style: none;
}

.login-menu {
  position: absolute;
  right: 100px;
}

.item-menu {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  text-decoration-line: none;
  margin: 0px 10px;
  padding: 23px 0;
  transition: color 1s;
}

.menu-navegacao ul .item-menu:hover {
  color: #0012A2;
  border-bottom: 4px solid #0012A2;
}

.login-menu ul .item-menu:hover {
  color: #0012A2;
}

.menu-toggle {
  position: absolute;
  right: 100px;
  display: none;
}

.slide {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/background.png') ;
  background-size: 100%;
  background-repeat: no-repeat;
  flex-direction: column;
  overflow: hidden;
}

.descricao {
  padding-top: 150px;
}

.descricao p {
  font-size: 90px;
  color: #fff;
  text-align: center;
}

.option {
  display: flex;
  width: 100%;
  justify-content: center;
}

.option button {
  margin: 40px 20px 0 20px;
  height: 60px;
  width: 200px;
  padding: 10px;
  font-size: 15px;
  box-shadow: 0 1px 7px black;
}

.login-menu button {
  height: 40px;
  width: 200px;
  margin-left: 8px;
  font-size: 15px;
}

@media(max-width: 1160px) {
  .login-menu {
    display: none;
  }
}

@media(max-width: 706px) {
  .menu-navegacao {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}

@media(max-width: 566px) {

  .menu-toggle {
    right: 20px;
  }

  .container-menu strong {
    padding: 0px 20px 0px 20px;
  }

}