.container-apresentacao-projetos{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  background-color: #0012A2;
}

.container-conteudo-projetos {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  transition-property: grid-template-columns, gap;
  transition-duration: 0.5s;
}

.coluna-separador-projeto {
  background-color: #0012A2;
  height: auto;
  width: 5px;
  border-radius: 3px;
  margin: 20px 0px;
}

.projeto {
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}

.informacoes-projeto {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  width: 56%;
  justify-content: space-around;
}

.informacoes-projeto-2 .profile-cliente-projetos {
  display: flex;
  align-items: center;
  height: 50%;
  width: 100%;
  margin-bottom: 50px;
}

.informacoes-projeto-2 .name-cliente-projetos {
  font-size: 18px;
  margin-bottom: 5px;
  color: #0012A2;
}

.informacoes-projeto-2 .descricao-cliente-projetos {
  font-size: 15px;
  margin-bottom: 5px;
  color: #464646;
}

.informacoes-projeto-2 .imagem-moldura-projetos {
  overflow: hidden;
  width: 80px;
  height: 80px;
  border: solid 4px #fff;
  box-shadow: 0px 1px 4px #00000052;
  border-radius: 50%;
  margin-right: 5px;
}

.imagem-moldura-projetos .imagem-cliente-projetos {
  width: 100%;
}

.informacoes-projeto-2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 20px 20px;
  width: 35%;
}

.informacoes-projeto-2 h4 {
  color: #0012A2;
  font-size: 17px;
  margin: 8px 0px;
}

.informacoes-projeto-2 h4 span {
  color:#464646;
}

.informacoes-projeto-2 .projetos-publicados,
.informacoes-projeto-2 .projetos-ativos {
  text-align: center;
}

.conhecer-projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.informacoes-projeto .habilidades-projetos {
  height: 100px;
  width: 100%;
}

.informacoes-projeto .habilidades-projetos .skill-name-projetos {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 8px;
}

.informacoes-projeto .habilidades-projetos .skill-name-projetos span {
  font-size: 16px;
  color: #fff;
  background-color: #0012A2;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 8px;
}

.informacoes-projeto .titulo-projeto {
  font-size: 22px;
  color: #0012A2;
}

.informacoes-projeto h4 {
  font-size: 17px;
  color: #0012A2;
}

.informacoes-projeto h4 span,
.informacoes-projeto p {
  font-size: 17px;
  color: #464646;
  font-weight: 400;
}


.conhecer-projeto .preco-projeto {
  font-size: 20px;
  font-weight: bold;
  color: #01CB11;
  margin-top: 10px;
}

.conhecer-projeto .button-saiba-mais-projetos {
  margin-top: 10px;
  width: 90%;
  height: 50px;
  border-radius: 8px;
  background-color: #0012A2;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 1px 10px #00000060;
  transition: filter 0.5s;
}

.conhecer-projeto .button-saiba-mais-projetos:hover {
  filter: brightness(80%);
}

.container-projetos .projeto, .container-menu-coluna-projetos .menu-projetos {
  display: flex;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
}

.container-menu-coluna-projetos .menu-projetos {
  flex-direction: column;
}

.container-menu-coluna-projetos .menu-projetos h4 {
  color: #0012A2;
  font-size: 17px;
  margin: 0px 25px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.container-menu-coluna-projetos .menu-projetos .categoria-projetos {
  margin: 0px 20px;
  height: 50px;
  font-size: 17px;
  background-color: #0012A2;
  color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
}

.container-menu-coluna-projetos .menu-projetos .habilidades-projetos {
  margin: 0px 20px;
  font-size: 17px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
}

.container-menu-coluna-projetos .menu-projetos .escolher-modalidade-projetos {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  margin-bottom: 25px;
}

.container-menu-coluna-projetos .menu-projetos .escolher-modalidade-projetos .group-modalidade-projetos {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  background-color: #0012A2;
}

.container-menu-coluna-projetos .menu-projetos .escolher-modalidade-projetos label {
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 7px;
}

.container-menu-coluna-projetos .menu-projetos .escolher-modalidade-projetos 
.group-modalidade-projetos .radio-modalidade-projetos {
  width:20px;
  margin-right: 1px;
}

.container-menu-coluna-projetos {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 120px;
  transition-property: margin-right, margin-left;
  transition-duration: 0.5s;
}

.container-projetos {
  margin-right: 120px;
  transition-property: margin-right, margin-left;
  transition-duration: 0.5s;
}

.container-apresentacao-projetos h1, .container-apresentacao-projetos p {
  margin-left: 120px;
  color: #fff;
  transition-property: margin-left;
  transition-duration: 0.5s;
}

.container-apresentacao-projetos h1 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.container-apresentacao-projetos p {
  margin-bottom: 40px;
  margin-right: 10px;
}

.container-pesquisar-projetos {
  display: flex;
  align-items: center;
  margin: 0px 120px;
  transition-property: margin;
  transition-duration: 0.5s;
}

.container-pesquisar-projetos .title-bar-projetos {
  margin: 40px 0px 40px 0px;
  height: 50px;
  width: 200px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #c7c7c7;
  background-color: #0012A2;
}

.container-pesquisar-projetos .title-bar-projetos h4 {
  font-size: 23px;
  margin-top: 12px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.container-pesquisar-projetos .bar-search-projetos {
  border: 0;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  color: #464646;
}

.container-pesquisar-projetos .search-projetos {
  border: 0px;
  border-top: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  height: 50px;
  padding-right: 10px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
}

@media (max-width: 1227px) { 

  .container-pesquisar-projetos {
    margin: 0px 40px;
  }

  .container-menu-coluna-projetos {
    margin-left: 40px;
  }
  
  .container-projetos {
    margin-right: 40px;
  }

}

@media (max-width: 1172px) {
  .container-apresentacao-projetos h1, .container-apresentacao-projetos p {
    margin-left: 50px;
  }
}

@media (max-width: 1254px) { 
  .container-pesquisar-projetos {
    margin: 0px 10px;
  }

  .container-menu-coluna-projetos {
    margin-left: 10px;
  }
  
  .container-projetos {
    margin-right: 10px;
  }
}

@media (max-width: 1104px) {
  .container-apresentacao-projetos h1, .container-apresentacao-projetos p {
    margin-left: 20px;
  }
}


@media (max-width: 1064px) {

  .container-pesquisar-projetos {
    margin: 0px 80px;
  }
  .container-menu-coluna-projetos {
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
  }
  
  .container-projetos {
    margin-right: 80px;
    margin-left: 80px;
  }

  .container-menu-coluna-projetos .menu-projetos .escolher-modalidade-projetos .group-modalidade-projetos {
    width: 32%;
  }

  .container-conteudo-projetos {
    gap: 0px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 897px) {

  .container-pesquisar-projetos {
    margin: 0px 20px;
  }
  
  .container-projetos {
    margin-right: 20px;
    margin-left: 20px;
  }

  .container-menu-coluna-projetos {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 897px) {

  .projeto {
    flex-direction: column;
    align-items: center;
  }

  .projeto .coluna-separador {
    margin: 0px 10px;
    height: 6px;
    width: 250px;
  }

  .informacoes-projeto-2 {
    margin: 20px;
  }

  .informacoes-projeto .classificacao {
    margin-bottom: 10px;
  }
}

@media (max-width: 612px) {

  .informacoes-projeto {
    width: 100%;
  }

  .informacoes-projeto-2 .conhecer-projeto {
    flex-direction: column;
  }

  .informacoes-projeto-2 .sobre-projeto {
    width: 100%;
    text-align: center;
  }

  .informacoes-projeto-2 .sobre-projeto p {
    text-align: left;
  }

  .informacoes-projeto .habilidades-projetos {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .informacoes-projeto .habilidades-projetos .skill-name-projetos {
    justify-content: center;
  }
}