@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Rotobo, sans-serif;
  background:#f3f3f3;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

.button:hover {
  filter: brightness(80%);
}

.button {
  background-color: #0012A2;
  border: #0012A2;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  transition: filter 1s;
}